<ion-header>
  <ion-toolbar>
    <ion-title>Voyages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [href]="'/tabs/voyages/1'">Logement 1</ion-button>
  <ion-button [href]="'/tabs/voyages/2'">Logement 2</ion-button>
  <ion-button [href]="'/tabs/voyages/3'">Logement 3</ion-button>
  <ion-button [href]="'/tabs/voyages/4'">Logement 4</ion-button>
  <ion-button [href]="'/tabs/voyages/4'">Logement 5</ion-button>
  <ion-button [href]="'/tabs/voyages/6'">Logement 6</ion-button>
  <ion-button [href]="'/tabs/voyages/7'">Logement 7</ion-button>
  <ion-button [href]="'/tabs/voyages/8'">Logement 8</ion-button>
</ion-content>
