<ion-header>
  <ion-toolbar>
    <ion-title>voyages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="openVoyageDetailInTab()">Logement 1</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 2</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 3</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 4</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 5</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 6</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 7</ion-button>
  <ion-button (click)="openVoyageDetailInTab()">Logement 8</ion-button>
</ion-content>
