<ion-header>
    <ion-toolbar>
        <ion-title>Votre profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center change-photo">
        <img src="../../assets/icon/person.svg" alt="person"/>
    </ion-row>

    <h1>{{userLogged.pseudo}}</h1>
    <ion-item>
        <ion-label>
            <ion-icon name="mail" color="danger"></ion-icon>
            <span>{{userLogged.email}}</span>
        </ion-label>
    </ion-item>

    <ion-row class="ion-justify-content-center">
        <ion-button (click)="disconnect()" fill="outline">
            <ion-label>
                Déconnexion
            </ion-label>
        </ion-button>
    </ion-row>
</ion-content>
