<ion-header>
    <ion-toolbar>
        <ion-title>Votre profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center change-photo">
        <img src="../../assets/icon/person.svg" alt="person" />
    </ion-row>

    <h1>V{{userLogged.pseudo}}</h1>
    <ion-item>
        <ion-label>
            Votre email : {{userLogged.email}}
        </ion-label>
    </ion-item>
    <ion-row class="ion-justify-content-center">
        <ion-button (click)="disconnect()" fill="outline">
            <ion-label>
              Déconnection
            </ion-label>
        </ion-button>
    </ion-row>
</ion-content>
