ion-content {
  .change-photo {
    padding: 50px;
    margin: 0;

    img {
      width: 80px;
      height: 80px;
      padding: .5em;
      border: 2px solid #9787ff;
      border-radius: 50%;
    }
  }

  h1 {
    text-align: center;
  }

  ion-item {
    margin-top: 2em;
    margin-left: 1em;
    --border-width: none;
    --border-style: none;
    ion-icon {
      padding-right: 1em;
      --ion-color-danger: #9787ff;
    }
  }

  ion-row {

    ion-button {
      position: absolute;
      bottom: .5em;
      --color: #ccc;
      --border-color: #ccc;
      --border-width: 2px;
      --background: transparent;
      border-radius: 13px;
      font-weight: 600;

      ion-label {
        color: #ccc;
      }
    }
  }
}
