ion-content {
  .change-photo {
    padding: 50px;
    margin: 0;

    img {
      height: 80px;
      padding: .5em;
      border: 2px solid #ffb64c;
      border-radius: 50% / 50%;
    }
  }

  h1 {
    text-align: center;
  }

  ion-row {

    ion-button {
      position: absolute;
      bottom: 2em;
      --color: #ccc;
      --border-color: #ccc;
      --border-width: 2px;
      --background: transparent;
      border-radius: 13px;
      font-weight: 600;

      ion-label {
        color: #ccc;
      }
    }
  }
}
