<ion-header>
    <ion-toolbar>
        <ion-searchbar animated placeholder='Essayez "Singapour"' class="searchbar"
                       (input)="setFilteredItems($event)" debounce="1000" (ionClear)="cancelFilter($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>

    <a class="add-logement" routerLink="/add-logement">
        <ion-icon name="add"></ion-icon>
        <span>Logement</span>

    </a>
    <ion-card class="welcome-card" *ngFor="let logement of logementService.logements"
              [routerLink]="'/tabs/logement/' + logement.slug" routerDirection="forward">
        <img [src]="domSanitizer.bypassSecurityTrustUrl(logement.picture)" [alt]="logement.title"/>
        <ion-card-header>
            <ion-card-subtitle>{{logement.price}} € par nuit</ion-card-subtitle>
            <ion-card-title>{{logement.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{logement.description}}
        </ion-card-content>
    </ion-card>
</ion-content>
