<ion-header>
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let logement of logementService.logements" [routerLink]="'/tabs/logement/' + logement.slug" routerDirection="forward">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <p class="ion-margin-start">{{logement.title}}</p>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <p>{{ logement.description }}</p>
      <p>{{logement.price}} € par nuit</p>
    </ion-card-content>
  </ion-card>
</ion-content>
