ion-header {
  background: #fff;
  box-shadow: 0 0 10px rgba(#ccc, .5);

  ion-row {
    a {
      text-decoration: none;
      color: #000;
    }
    ion-back-button {
      margin: 1em .5em 1em;
      width: 20px;
      --background: #fff;
    }
  }
}

form {
  ion-item {
    width: 100%;
    margin: 0 20px;
    --inner-border-width: 0;
    border-bottom: solid 1px #eee;
  }
  ion-label {
    --color: #a9a9a9;
    padding: .5em 0;
  }
  ion-button {
    --background: #ff4757;
    --background-hover: #ff4757!important;
    margin: 2em 0;
  }
}
