<ion-header>
    <ion-toolbar>
        <ion-title>Identification</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-row class="ion-justify-content-center" class="logo">
            <img src="../../assets/icon/logo.svg" alt="logo" />
            <h1>Duck<span>Bnb</span></h1>
        </ion-row>

    <ion-text ng-show="!isObjectEmpty(erreur)">
        {{erreur}}
    </ion-text>
    <form (ngSubmit)="login()">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="loginCredential.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" [(ngModel)]="loginCredential.password" name="password"></ion-input>
        </ion-item>
        <ion-row class="ion-justify-content-center">
            <ion-button type="submit" size="large" color="warning" fill="outline">
                <ion-label class="link">Connection</ion-label>
            </ion-button>
        </ion-row>
    </form>
    <ion-row class="ion-justify-content-center">
        <a routerLink="/register" class="light-link">Inscription</a>
    </ion-row>
</ion-content>
