<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text ng-show="!isObjectEmpty(erreur)">
    {{erreur}}
  </ion-text>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginCredential.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="loginCredential.password" name="password"></ion-input>
    </ion-item>
    <ion-button type="submit">Connexion</ion-button>
  </form>

  <ion-button routerLink="/register">Inscription</ion-button>
</ion-content>
