<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil"></ion-back-button>
        </ion-buttons>
        <ion-title>{{this.logement.title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-row class="ion-justify-content-center">
        <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(this.logement.picture)" [alt]="this.logement.title">
    </ion-row>
    <ion-row class="logement">
        <h1>{{this.logement.title}}</h1>
        <h2>{{this.logement.price}} € par nuit</h2>

        <p class="ion-align-items-center">
            {{this.logement.description}}
        </p>
        <p class="ion-align-items-center">
            <ion-icon name="pin-outline" color="medium"></ion-icon>
            <span>{{this.logement.address}}</span>
        </p>
        <p class="ion-align-items-center">
            <ion-icon name="calendar-outline" color="medium"></ion-icon>
            <span>{{this.logement.creation_at}}</span>
        </p>

        <p class="ion-align-items-center">
            <ion-icon name="bed-outline" color="medium"></ion-icon>
            <span>{{this.logement.nb_bed}} lits - {{this.logement.nb_room}} chambres</span>
        </p>

        <p class="ion-align-items-center">
            <ion-icon name="people-outline" color="medium"></ion-icon>
            <span>{{this.logement.nb_traveler_max}} voyageurs</span>
        </p>
    </ion-row>

    <form (ngSubmit)="book()">
        <ion-item>
            <ion-label>Jour d'arrivée</ion-label>
            <ion-input type="date" [(ngModel)]="booking.dateDebut" name="dateDebut"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Jour de départ</ion-label>
            <ion-input type="date" [(ngModel)]="booking.dateFin" name="dateFin"></ion-input>
        </ion-item>
        <ion-button type="submit">Réserver !</ion-button>
    </form>

</ion-content>
