.logement {
  padding: 0 2.5em;

  h1 {
    width: 100%;
    font-weight: 800;
  }

  h2 {
    text-transform: uppercase;
    font-size: 13px;
  }

  .border {
    border-bottom: 1px solid #eee;
  }

  p {
    width: 100%;
    margin: 0;
    padding: 1em 0;

    span {
      color: #8b7e60;
    }
  }

  ion-icon {
    padding-right: 1em;
    color: #ff4929;
  }
}

#reservations {
  margin-top: .5em;
  ion-input {
    padding: 1.5em 0!important;
  }

  ion-button {
    margin: 2em 0;
    --background: #ff4929;
    --background-focused: #ffaea0;
    --background-hover: #ff6247;
  }
}
