ion-tabs {
  ion-tab-bar {
    padding-bottom: .5em;
    padding-top: .5em;
    ion-tab-button {
      --color: #ff56569e;
      --color-selected: #ff4f0b;
      --color-focused: #ff4f0b;
    }
  }
}
