<ion-header>
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [href]="'/tabs/messages/1'">Message 1</ion-button>
  <ion-button [href]="'/tabs/messages/2'">Message 2</ion-button>
  <ion-button [href]="'/tabs/messages/3'">Message 3</ion-button>
  <ion-button [href]="'/tabs/messages/4'">Message 4</ion-button>
  <ion-button [href]="'/tabs/messages/4'">Message 5</ion-button>
  <ion-button [href]="'/tabs/messages/6'">Message 6</ion-button>
  <ion-button [href]="'/tabs/messages/7'">Message 7</ion-button>
  <ion-button [href]="'/tabs/messages/8'">Message 8</ion-button>
</ion-content>
