ion-content {
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 25%;
    }
  }

  h1 {
    margin-top: .5em !important;
    font-weight: 800;
    color: #ff435b;

    span {
      color: #ffb64c;
    }
  }

  form {
    margin-top: 0;

    ion-label {
      --color: rgba(#ff435b, .7) !important;
    }
  }

  ion-row {
    margin: 20px 0;

    ion-button {
      --color: #ffb64c !important;
      --border-color: #ffb64c !important;
      --border-width: 2px !important;
      --background: transparent !important;
      border-radius: 13px;
      font-weight: 600;

      ion-label {
        color: #ffb64c !important;
      }
    }
  }

  a.light-link {
    color: #ff9100;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
}

